
<link href="~/Static/css/custom/footer.css" rel="stylesheet" type="text/css"/>

<!-- footer -->
<!--
<footer class="container-fluid" style="position: absolute; bottom: 0px; width: 100%;">
    -->
<footer class="container-fluid">
    <div class="container bottomcontainer">
        <!-- sub slider -->
        <div class="row secondaryContainer">


            <div class="col-md-2 ">
                <p>
                    <a href="#" style="color:white"><strong>GIFT CARDS</strong></a>
                </p>
                <p>
                    <a href="#" style="color:white"><strong>FIND A STORE</strong></a>
                </p>
                <p>
                    <a href="#" style="color:white"><strong>SIGN UP FOR EMAIL</strong></a>
                </p>
                <p>
                    <a href="#" style="color:white"><strong>JOIN NIKE+</strong></a>
                </p>
            </div>

            <div class="col-md-2">
                <p>
                    <a href="#" style="color:white"><strong>GET HELP</strong></a>
                </p>
                <p>
                    <a href="#">Order Status</a>
                </p>
                <p>
                    <a href="#">Shipping and Delivery</a>
                </p>
                <p>
                    <a href="#">Returns</a>
                </p>
                <p>
                    <a href="#">Payment Options</a>
                </p>
                <p>
                    <a href="#">Contact Us</a>
                </p>
            </div>

            <div class="col-md-2">
                <p>
                    <a href="#" style="color:white"><strong>NEWS</strong></a><br />
                </p>
                <p>
                    <a href="#" style="color:white"><strong>ABOUT NIKE</strong></a><br />
                </p>
                <p>
                    <a href="#">Careers</a><br />
                </p>
                <p>
                    <a href="#">Investors</a><br />
                </p>
                <p>
                    <a href="#">Supply Chain</a><br />
                </p>
                <p>
                    <a href="#">Nike Better Worlds</a>
                </p>
            </div>

        </div>
        <hr />
        <div id="bottombox">
            © 2015 Nike, Inc. All Rights Reserved
            <span id="footernote">

                <a href="#">Guides</a>
                <a href="#">Terms of use</a>
                <a href="#">Nike Privacy Policy</a>

            </span>
        </div>
    </div>
</footer>