#footernote {
    position: absolute;
    right: 0px;
}

#bottombox {
    position: relative;
    color: #C0C0C0;
}

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-family: Helvetica,Arial,sans-serif;
    font-size: 0.875em;
    background: black;
    position: absolute;
    width: 100%;
}

    footer a:link {
        color: #C0C0C0;
    }

    footer a:hover {
        color: white;
        text-decoration: none;
    }

    footer a:visited {
        color: #C0C0C0;
    }

.secondaryContainer {
    padding-left: 20px;
}

#theBody {
    min-height: 600px;
}