@using EPiServer.Core
@using EPiServer.Web.Mvc.Html

@model EPiServerSiteCMS.Models.Pages.StartPage
<link href="~/Static/css/custom/slider.css" rel="stylesheet" type="text/css" />
<div class="slider">
    <ul class="bxslider">
        <li><img src="~/images/homepage/federer.jpg" /></li>
        <li><img src="~/images/homepage/team.jpg" /></li>
        <li><img src="~/images/homepage/bballer.jpeg" /></li>
        <li><img src="~/images/homepage/nike-Ink.jpg" /></li>
    </ul>
</div>

<script src="~/Static/js/custom/slider.js"></script>

