@using EPiServer.Core
@using EPiServer.Web.Mvc.Html
@model EPiServerSiteCMS.Models.Catalog.NikeProduct

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>NikeProduct</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

    </dl>
</div>
<p>
   @Html.ActionLink("IndexVariantsList", actionName:"IndexVariantsList", controllerName: "NikeProduct")
</p>
